packages/node_modules/@bp/nodes/examples/04-connect-four.json
[{"id":"8457179d94febad3","type":"tab","label":"connect four","disabled":false,"info":"","env":[]},{"id":"54409c1228046822","type":"start","z":"8457179d94febad3","name":"","x":110,"y":140,"wires":[["07b67b7428360fd9"]]},{"id":"07b67b7428360fd9","type":"bsync","z":"8457179d94febad3","name":"request O moves","request":"[O[1],O[2],O[3],O[4],O[5],O[6],O[7],O[8],O[9],O[10],O[11],O[12],O[13],O[14],O[15],O[16],O[17],O[18],O[19],O[20]]","waitFor":"","block":"","x":310,"y":140,"wires":[[]]},{"id":"f6360d5bd666d74b","type":"start","z":"8457179d94febad3","name":"","payload":"","x":110,"y":80,"wires":[["eb36493503cde558"]]},{"id":"db6b42d69d78b745","type":"bsync","z":"8457179d94febad3","name":"block O moves","request":"","waitFor":"[X[1],X[2],X[3],X[4],X[5],X[6],X[7],X[8],O[9],X[10],X[11],X[12],X[13],X[14],X[15],X[16],X[17],X[18],X[19],X[20]]","block":"[O[1],O[2],O[3],O[4],O[5],O[6],O[7],O[8],O[9],O[10],O[11],O[12],O[13],O[14],O[15],O[16],O[17],O[18],O[19],O[20]]","x":440,"y":80,"wires":[["3d97ab97ef4b5b3e"]]},{"id":"3d97ab97ef4b5b3e","type":"bsync","z":"8457179d94febad3","name":"block X moves","request":"","waitFor":"[O[1],O[2],O[3],O[4],O[5],O[6],O[7],O[8],O[9],O[10],O[11],O[12],O[13],O[14],O[15],O[16],O[17],O[18],O[19],O[20]]","block":"[X[1],X[2],X[3],X[4],X[5],X[6],X[7],X[8],O[9],X[10],X[11],X[12],X[13],X[14],X[15],X[16],X[17],X[18],X[19],X[20]]","x":660,"y":80,"wires":[["eb36493503cde558"]]},{"id":"c409cdbe0361b815","type":"comment","z":"8457179d94febad3","name":"switching turns ","info":"","x":920,"y":80,"wires":[]},{"id":"ac5146606e1719e4","type":"comment","z":"8457179d94febad3","name":"O moves","info":"","x":560,"y":140,"wires":[]},{"id":"d4a5dd145fe9c364","type":"comment","z":"8457179d94febad3","name":"Blocking moves that already been played","info":"","x":880,"y":180,"wires":[]},{"id":"b51795af4de9f08b","type":"start","z":"8457179d94febad3","name":"","payload":"","x":110,"y":180,"wires":[["775bd73ab6743490"]]},{"id":"839409fc4b89b5d5","type":"bsync","z":"8457179d94febad3","name":"block all moves that have been played","request":"","waitFor":"","block":"allPlayedMoves()","x":490,"y":180,"wires":[["775bd73ab6743490"]]},{"id":"53d7146449e53e04","type":"comment","z":"8457179d94febad3","name":"Strategy for X","info":"","x":130,"y":240,"wires":[]},{"id":"90ce3f52ae0ab9b8","type":"start","z":"8457179d94febad3","name":"","payload":"","x":110,"y":280,"wires":[["41f7d6542f1a6a6c"]]},{"id":"449cbf554b423e83","type":"bsync","z":"8457179d94febad3","name":"priority 8","request":"[X[6],X[10],X[11],X[15]]","waitFor":"","block":"","x":460,"y":280,"wires":[["41f7d6542f1a6a6c"]]},{"id":"eb36493503cde558","type":"loop","z":"8457179d94febad3","name":"","list":"","from":"0","skip":"1","to":"20","x":250,"y":80,"wires":[["db6b42d69d78b745"],[]]},{"id":"41f7d6542f1a6a6c","type":"loop","z":"8457179d94febad3","name":"","list":"","from":"0","skip":"1","to":"9","x":290,"y":280,"wires":[["449cbf554b423e83"],[]]},{"id":"f9f187f5a9643c78","type":"comment","z":"8457179d94febad3","name":"Play a side square","info":"","x":650,"y":280,"wires":[]},{"id":"5eab6c0daedf5fae","type":"start","z":"8457179d94febad3","name":"","x":110,"y":340,"wires":[["031401ac98de2697"]]},{"id":"8b250ba28fe5d26d","type":"bsync","z":"8457179d94febad3","name":"priority 7","request":"[X[1],X[3],X[5],X[16],X[18],X[20]]","waitFor":"","block":"","x":460,"y":340,"wires":[["031401ac98de2697"]]},{"id":"031401ac98de2697","type":"loop","z":"8457179d94febad3","name":"","list":"","from":"0","skip":"1","to":"9","x":290,"y":340,"wires":[["8b250ba28fe5d26d"],[]]},{"id":"7ae5cff75cc513fa","type":"comment","z":"8457179d94febad3","name":"Play a corner square","info":"","x":670,"y":340,"wires":[]},{"id":"e3e67feaa6247bfd","type":"start","z":"8457179d94febad3","name":"","x":110,"y":400,"wires":[["9349079e3cfe1661"]]},{"id":"1aac2bb9ef797395","type":"bsync","z":"8457179d94febad3","name":"priority 6","request":"[X[2],X[4],X[7],X[9],X[12],X[14],X[17],X[19]]","waitFor":"","block":"","x":460,"y":400,"wires":[["9349079e3cfe1661"]]},{"id":"9349079e3cfe1661","type":"loop","z":"8457179d94febad3","name":"","list":"","from":"0","skip":"1","to":"10","x":290,"y":400,"wires":[["1aac2bb9ef797395"],[]]},{"id":"a6592cd031473601","type":"comment","z":"8457179d94febad3","name":"Play the center square","info":"","x":660,"y":400,"wires":[]},{"id":"f5c726a2c628c5fd","type":"comment","z":"8457179d94febad3","name":"block a win for O ","info":"","x":140,"y":580,"wires":[]},{"id":"75c3f11646753692","type":"comment","z":"8457179d94febad3","name":"make a win for X","info":"","x":140,"y":660,"wires":[]},{"id":"3094bc98a5f1d713","type":"start","z":"8457179d94febad3","name":"","payload":"for line in Lines: {Line:line}","x":110,"y":620,"wires":[["b8b21da917327b69"]]},{"id":"fb9041ced889623a","type":"start","z":"8457179d94febad3","name":"","payload":"for line in Lines: {Line:line}","x":110,"y":700,"wires":[["3f60a871f2b0ae36"]]},{"id":"d9d427ace922df8b","type":"comment","z":"8457179d94febad3","name":"priority 2","info":"","x":740,"y":620,"wires":[]},{"id":"a87386af2c502f80","type":"comment","z":"8457179d94febad3","name":"priority 1","info":"","x":740,"y":700,"wires":[]},{"id":"f3e8166c4e08f16d","type":"comment","z":"8457179d94febad3","name":"connect four board:","info":"","x":1130,"y":4340,"wires":[]},{"id":"2f42b71cdb5c0c84","type":"comment","z":"8457179d94febad3","name":"board","info":"[16,17,18,19,20]\n[11,12,13,14,15]\n[6 ,7 ,8 ,9 ,10]\n[1 ,2 ,3 ,4 ,5 ] ","x":1090,"y":4380,"wires":[]},{"id":"3c4f6f08b415ce8b","type":"start","z":"8457179d94febad3","name":"","payload":"for(i in range(1,15)]{square:i}","x":110,"y":20,"wires":[["84dd66a2fe4ea56a"]]},{"id":"84dd66a2fe4ea56a","type":"bsync","z":"8457179d94febad3","name":"block above square","request":"","waitFor":"tkn.square","block":"tkn.square+5","x":290,"y":20,"wires":[[]]},{"id":"8afd48a25fa3158c","type":"comment","z":"8457179d94febad3","name":"Gravity block","info":"","x":650,"y":20,"wires":[]},{"id":"797dcf83860eafe0","type":"start","z":"8457179d94febad3","name":"","x":110,"y":460,"wires":[["d7ee690710ae793b"]]},{"id":"c8fcb7c3582d5423","type":"bsync","z":"8457179d94febad3","name":"priority 5","request":"[X[8],X[13]]","waitFor":"","block":"","x":460,"y":460,"wires":[["d7ee690710ae793b"]]},{"id":"d7ee690710ae793b","type":"loop","z":"8457179d94febad3","name":"","list":"","from":"0","skip":"1","to":"10","x":290,"y":460,"wires":[["c8fcb7c3582d5423"],[]]},{"id":"fe92965ed074dbad","type":"comment","z":"8457179d94febad3","name":"Play the center square","info":"","x":660,"y":460,"wires":[]},{"id":"b8b21da917327b69","type":"bsync","z":"8457179d94febad3","name":"wait for line","request":"","waitFor":"O+tkn.Line","block":"","x":270,"y":620,"wires":[["3b47c2af1d46c5bd"]]},{"id":"3b47c2af1d46c5bd","type":"bsync","z":"8457179d94febad3","name":"wait for line","request":"","waitFor":"O+tkn.Line","block":"","x":430,"y":620,"wires":[["4989417db557ae45"]]},{"id":"3f60a871f2b0ae36","type":"bsync","z":"8457179d94febad3","name":"wait for line","request":"","waitFor":"X+tkn.Line","block":"","x":270,"y":700,"wires":[["8d908eb9918db184"]]},{"id":"8d908eb9918db184","type":"bsync","z":"8457179d94febad3","name":"wait for line","request":"","waitFor":"X+tkn.Line","block":"","x":430,"y":700,"wires":[["c29ecc58527b1325"]]},{"id":"c29ecc58527b1325","type":"bsync","z":"8457179d94febad3","name":"Req third","request":"X+tkn.Line","waitFor":"","block":"","x":580,"y":700,"wires":[[]]},{"id":"4989417db557ae45","type":"bsync","z":"8457179d94febad3","name":"Req third","request":"X+tkn.Line","waitFor":"","block":"","x":580,"y":620,"wires":[[]]},{"id":"775bd73ab6743490","type":"loop","z":"8457179d94febad3","name":"","list":"","from":"0","skip":"1","to":"20","x":250,"y":180,"wires":[["839409fc4b89b5d5"],[]]}]
